.root {
	height: var(--font-medium);
}

.labelRight {
	flex-direction: row-reverse;
}

.label > input[type='checkbox']:checked + .switch > .slider {
	transform: translateX(14px);
}

.label > input[type='checkbox']:checked + .switch {
	background-color: var(--primary-main);
}

.label {
	display: flex;
	flex-direction: row;
	font-size: var(--font-body);
	gap: 4px;
	align-items: center;
}

.switch {
	display: block;
	position: relative;
	background-color: var(--grey-main);
	border-radius: 12px;
	width: 32px;
	height: var(--font-medium);
	transition: var(--duration-standard);
}

.slider {
	display: block;
	position: absolute;
	background-color: white;
	width: var(--font-body);
	height: var(--font-body);
	top: 2px;
	left: 2px;
	border-radius: 50%;
	transition: var(--duration-standard);
}
