.root {
	width: 100%;
	display: flex;
	animation-name: animateIn;
	animation-duration: 200ms;
	animation-timing-function: ease-in-out;
	animation-fill-mode: both;
	border-bottom: 1px solid var(--grey-light);
	padding: var(--spacing-standard) 0;
	transition: var(--duration-standard);
	border-left: 0 solid var(--grey-main);
	cursor: pointer;
	box-sizing: border-box;
}

.root:hover {
	border-left: 10px solid var(--grey-main);
	padding-left: var(--spacing-small);
}

.detailsContainer {
	flex-grow: 1;
}

.imageContainer {
	display: block;
}

.image {
	height: 60px;
	width: 60px;
}

.typography {
	width: 100px;
	margin-right: var(--spacing-small);
}

@keyframes animateIn {
	0% {
		opacity: 0;
		transform: translateX(-50px);
	}

	100% {
		opacity: 1;
		transform: translateX(0px);
	}
}
