.formGeocoding {
	display: flex;
	flex-direction: row;
	margin-bottom: var(--spacing-small);
}

.inputGeocoding {
	flex-grow: 1;
	border: 1px solid var(--grey-main);
	border-top-left-radius: var(--spacing-xs);
	border-bottom-left-radius: var(--spacing-xs);
	border-right: none;
}

.submitButton {
	border: none;
	background-color: var(--grey-main);
	border-top-right-radius: var(--spacing-xs);
	border-bottom-right-radius: var(--spacing-xs);
}
